.rimg{
    padding-top: 50%;
}

.col {
    text-align: center;
}

.userInfo {
    padding-bottom: 50%;
}

.refreshForm{
    padding-top: 10%;
}
.switch {
    padding-top: 1%;
    padding-bottom: 1%;
}